</main>
<footer>


  <p class="copyright">Created By Jamie Buick</p>

  <p class="copyright">Copyright © <%= new Date().getFullYear() %></p>


  <ul class="social_icon">
    <li><a href="https://github.com/Jamie-Buick"><ion-icon name="logo-github"></ion-icon></a></li>
    <li><a href="https://www.linkedin.com/in/jamie-buick-809912173"><ion-icon name="logo-linkedin"></ion-icon></a></li>
  </ul>

 
 

</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>