<%- include("partials/header.ejs") %>

<h1>What is on your mind?</h1>

<div class="entry container">
    <form action="/submit" method="POST" style="text-align:center" >
        <input name="name" type="text" class="feedback-input" placeholder="Name" />
        <input name="code" type="text" class="feedback-input" placeholder="Code" />
        <input name="email" type="text" class="feedback-input" placeholder="Email" />
        <input name="title" type="text" class="feedback-input" placeholder="Post Title" />
        <textarea name="content" class="feedback-input" placeholder="Post Content"></textarea>
        <input type="submit" value="SUBMIT" />
    </form>
</div>
      


<%- include("partials/footer.ejs") %>