* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

header,
footer {
  flex: 0 0 auto;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}


header {
  background-color: white !important;
}

.navbar-nav .nav-link{
  color: gray !important;
  font-size:x-large;
}

.display-4 {
  color: gray !important;
}


  
/* Change text color on hover */
.navbar-nav .nav-link:hover {
  background-color: white; /* Change to a lighter color on hover */
  color: black !important;
  border-radius: 5px;
}
  

/* Change text color on hover */
.btn-primary:hover {
  background-color: lightgray !important; /* Change to a lighter color on hover */
}


.btn-primary{
  background-color: white !important;
  color: gray !important;
  border: none;
  font-size:x-large;
  margin-right: 2rem;
}


footer {
  position: relative;
  width: 100%;
  background: #D3D3D3;
  min-height: 100px;
  padding: 20px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: auto;
}

footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 0;
}

footer .copyright{
  color: black;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
  padding: 0;
  margin: 0 5px; /* Add margin to each list item for spacing */
}
footer .social_icon li a {
  font-size: 3em;
  padding: 0;
  color: black;
  margin: 0 10px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-15px);
  color: white;
}

p {
  color: black;
  text-align: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}


h1 {
  text-align: center;
  font-weight: 700;
  color: gray;
}

.copyright {
  color: black;
  justify-content: center;
  align-items: center;
}




form {
  margin-top: 50px;
}

.feedback-input {
  color: black;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #3586ff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #3586ff;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: #3586ff;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
  width: 200px;
  text-align: center;
  align-items: center;
}
[type="submit"]:hover {
  background: #3586ff;
}

.entry{
  padding-bottom: 3rem;
}


.cards h1{
  color: black  !important;
  text-align: left;
  
}

.cards h5{
  color: gray  !important;
  font-size:medium;
  font-weight: bold;
}

.cards p{
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: gray  !important;
  text-align: left;
}